<div class="card-chat">
  <div>
    <div class="card-chat-dialog-header">
      <div class="avatar-dialog" >
        <figure>
          <img [style.opacity]="!roomSelected ? 0 : 1" [src]="'https://avatars.dicebear.com/api/bottts/'+ roomSelected?.index  + '.svg'" alt="" srcset="">
        </figure>
      </div>
      <div>
        <div class="card-chat-dialog-name">
          {{ roomSelected?.name }}
        </div>
        <div class="card-chat-dialog-message" *ngIf="roomSelected">
          Online
        </div>
      </div>
    </div>
    <cdk-virtual-scroll-viewport appendOnly [itemSize]="messages?.length" class="card-chat-dialog-body">
      <div class="imessage">
        <ng-container *cdkVirtualFor="let item of messages">
          <div *ngIf="item.ownerId._id !== owner._id">
            <p class="from-them">{{ item.message }}</p>
            <small>{{ item.ownerId.name }} - {{ item.createdAt | date: 'dd/MM/yyyy hh:mm' }} </small>
          </div>
          <div class="fix-from-me" *ngIf="item.ownerId._id === owner._id">
            <p class="from-me">{{ item.message }}</p>
            <small class="text-end fix-response-status">{{ item.ownerId.name }} - {{ item.createdAt | date: 'dd/MM/yyyy hh:mm' }}
              <div *ngIf="item?.status === 'progress'">
                <i  class="fas fa-circle-notch fa-spin"></i>
              </div>

              <div *ngIf="item?.status === 'success'">
                <i  class="fas fa-check-double"></i>
              </div>

              <div *ngIf="item?.status === 'error'">
                <i  class="fas fa-exclamation-circle"></i>
              </div>
            </small>
          </div>
        </ng-container>
      </div>
    </cdk-virtual-scroll-viewport>
    <div class="card-chat-dialog-footer">
      <div class="send-message">
        <input #inputSendMessage type="text" name="" id="" (keyup.enter)="sendMessage(inputSendMessage)">
        <button (click)="sendMessage(inputSendMessage)"   type="submit">
          <img src="../../../../../assets/img/send-message.svg" alt="">
        </button>
      </div>
    </div>
  </div>
</div>
