<div class="menu">
  <div>
    <div class="avatar">
      <figure>
        <img src="https://avatars.dicebear.com/api/bottts/1.svg" alt="">
      </figure>
    </div>
    <div class="item">
     <div class="item-container">
        <img src="../../../../../assets/img/chat-vector.svg" alt="">
        <div class="item-selected">

        </div>
     </div>
    </div>
  </div>
  <div class="item" (click)="logout()">
    <div class="item-container item-container--bg-transparente">
       <img src="../../../../../assets/img/logout-vector.svg" alt="">
       <div>
       </div>
    </div>
   </div>
</div>
